<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Covid Stats |
            {% block title %}{% endblock %}
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/build/app.css">
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar">
            <ul class="navbar__links">
                <li class="navbar__link">
                    <a href="/">Accueil</a>
                </li>
                <li class="navbar__link">
                    <a href="/#department">Par départements</a>
                </li>
            </ul>
        </nav>

        <main class="container">
            {% block body %}
            {% endblock %}
        </main>
 
        {% block javascripts %}
        {% endblock %}
    </body>
</html>